
body {
    color: #494949;
    font-size: 18px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'Lora', serif;
    margin: 0;
}

div {
  display: block;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #A0A0A0;
    font-weight: normal;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: #4352A1;
}

a:hover {
    text-decoration: none;
    color: #4352A1;
    background-image: linear-gradient (rgba(280, 213, 200, 1));
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
}

.banner {
    background-image: url(https://source.unsplash.com/random/1000x500);
    background-size: cover;
    color: white;
    padding: 120px 0;
}

.banner p {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
}

.container {
    width: 700px;
    margin: 50px auto;
}

.link-medium {
    background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
}

/* Media queries */
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
